@model Group12_iCAREAPP.Models.iCAREWorker

@{
    ViewBag.Title = "Delete";
}

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>iCAREWorker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.profession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iCAREAdmin.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iCAREAdmin.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iCAREUser.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iCAREUser.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole.roleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole.roleName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
