@model Group12_iCAREAPP.Models.iCAREUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>iCAREUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iCAREAdmin.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iCAREAdmin.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iCAREWorker.profession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iCAREWorker.profession)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
